/* .article h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

.article h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

.article h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

.article h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

.article h5 {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

.article ul {
  margin: 0 0 1em 0;
  padding: 0;
}

.article ul li {
  margin: 0 0 0.5em 0;
  padding: 0;
} */
