@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 0 1% 90%;
    --muted-foreground: 215.4 16.3% 46.9%;

    /* --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%; */
  }

  .dark {
    --background: 0 0% 15%;
    --foreground: 213 31% 91%;

    --muted: 0 1% 28%;
    --muted-foreground: 215.4 16.3% 56.9%;

    /* --card: 224 71% 4%;
    --card-foreground: 213 31% 91%; */
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
